.nav_bar_ItemPage {
    display: flex;
    height: 20vh;
    background-color: red;
    justify-content: center;
    align-items: center;
    /*border: 2px solid green;*/
}
.psa_grade {
    display: flex;
    height: 150px;
    margin: 0 auto;
    background-color: #313131;
    /*border: 2px solid red;*/
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.psa_9, .psa_10 {
    background-color: #f9f9f9;
    color: #313131;
    /*border: 2px solid green;*/
    margin-inline: 10px;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    border-radius: 10px;
}