.wrapper {
    background-color: white;
    margin: auto;

}
.nav_bar {
    display: flex;
    height: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    /*border: 2px solid green;*/
}
.title {    
    font-size: 70px;
    /*border: 2px solid red;*/
    color: black;
    text-align: center;
}
