@font-face {
    font-family: 'PokemonSolid';
    src: url('C:/Users/123ke/OneDrive/Documents/Projects/react-app/client/src/Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.wrapper {
    background-color: #f9f9f9;
    margin: auto;
    height: 100vh;
}
.nav_bar {
    display: flex;
    height: fit-content;
    background-color: red;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /*border: 2px solid green;*/
}
.title {
    height: fit-content;
    border: 2px solid green;
    /*text-align: center;
    font-family: 'PokemonSolid', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #f7ce45;

    -webkit-text-stroke: 2px #3a5fa4;*/
    -webkit-background-clip: text;
}
.logo {
    height: 128px;
    margin-inline: auto;
    margin-block: auto;
}
@media only screen and (max-width: 800px) {
    .logo {
        height: 100px;
    }
}